*.userprefs
Temp
Library
MeteorRunner/obj/Debug/Assembly-CSharp-vs.csproj.FilesWrittenAbsolute.txt
MeteorRunner/obj/Debug/Assembly-CSharp.dll
MeteorRunner/obj/Debug/Assembly-CSharp.dll.mdb
MeteorRunner/MeteorRunner.sublime-project
MeteorRunner/MeteorRunner.sublime-workspace
TapRunner/Assembly-CSharp-Editor-vs.csproj
TapRunner/Assembly-CSharp-Editor.csproj
TapRunner/Assembly-CSharp-vs.csproj
TapRunner/Assembly-CSharp.csproj
TapRunner/TapRunner-csharp.sln
TapRunner/TapRunner.sln
